# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
# Videos
/public/images/VIDEO/
public/images/VIDEO/
*.mp4
*.webm
*.mov
*.mkv
*.avi
public\images\VIDEO  
public/images/
\.env.txt